/* TriviaQuestion.css */
.triviaContainer {
  width: 600px;
  background-color: black;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  color: white; /* Changing text color to white for better visibility against black background */
}

.question {
  font-size: 1.25em;
  margin-bottom: 1em;
}

.answer {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.answer:hover {
  background-color: #333333; /* Darker gray for better visibility against black background */
}

.correct {
  background-color: #006400; /* Dark green for correct answers */
}

.incorrect {
  background-color: #b50e1c;
}
