* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('images/theater2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex-grow: 1;
}

.App-header {
  /* background-color: #d32f2f; */
  background-color: #A02222;
  background-image: url('images/midjourney.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}

.centered-div {
  grid-column: 2;
  display: flex;
  justify-content: center;
}

.right-justified-divs {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.App-header h1 {
  color: #fff;
  font-size: 2rem;
  margin: 0; /* Remove the "auto" value to prevent centering */
}

.hamburger {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer; 
  margin-left: 1rem;
}


.nav-links {
  position: fixed;
  right: 0;
  top: 13em;
  width: 300px;
  height: 425px;
  background-color: rgba(30, 30, 30);
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Change this to stretch to make buttons full width */
  justify-content: flex-start; /* Change this to flex-start to move buttons to the top */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  padding: 0.5rem 0; /* Add padding at the top and bottom of the popout */
}


.nav-links.show {
  transform: translateX(0%);
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
  background-color: #A02222;
  border-radius: 5px;
  padding: 10px;
  display: flex; /* Add this to align text to the center */
  justify-content: center; /* Add this to align text to the center */
  width: 100%; /* Set the button width to 100% */
  box-sizing: border-box; /* Add this to include padding in the button width */
}

.nav-links a:last-child {
  margin-bottom: 0;
}

.nav-links a:hover {
  background-color: #b71c1c;
}

main {
  max-width: 66%; /* Limit the content width to 50% */
  margin: 1rem auto; /* Center the content */
  color: #fff;
}

/* Mobile styles */
@media (max-width: 768px) {
  main {
    max-width: 100%; /* Use 100% of the screen width on mobile devices */
  }
}

section {
  margin-top: 50px;
}

h2 {
  /* other styles */
}

ul {
  /* other styles */
}

li {
  /* other styles */
}

article {
  margin-top: 20px;
}

article h3 {
  /* other styles */
}

article p {
  /* other styles */
}


.auth-buttons {
  display: flex;
  position: relative;
}

.auth-buttons button {
  background-color: #A02222;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 1rem;
}

.auth-buttons button:hover {
  background-color: #f44336;
  border-color: #f44336;
}

.banner-text {
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'Film', serif;
  font-size: 2.7rem;
  font-weight: normal;
  /* color: #ffdbb4; */
  color: #F1E4C0;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline;
}

.default-font {
  font-family: 'Helvetica Neue', sans-serif;
}

@media (max-width: 2000px) {
  .banner-text {
    font-size: 2rem; /* or any other size you want for mobile screens */
  }
  .responsive-text {
    /* font-size: 1rem !important; */
    width: 80px !important;
  }
}


